*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

div.point{
  width: 250px;
  height: auto;
  position: absolute;
  z-index: 9999;
  right: 10px;
  top: 10px;
  padding-bottom: 10px;
  padding: 20px;
  box-sizing: border-box;
  padding-top: 10px;
}

div.point div.top{
  width: 100%;
  height: 40px;
}

div.point div.top h1{
  font-size: 18px;
  line-height: 40px;
  padding-left: 20px;
}

section.input-nama{
  width: 400px;
  height: 183px;
  background: white;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: translate(0,-200%);
  opacity: 0;
  transition: 0.5s;
  z-index: 99;
  border: 1px solid #aaa;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 1px 3px 20px rgba(0,0,0,0.2);
}

section.input-nama div.top{
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #ccc;
}

section.input-nama div.top h3{
  line-height: 50px;
  margin-left: 20px;
  color: #353535;
  font-size: 15px;
  font-family: verdana;
}

section.input-nama div.bottom{
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
  padding-top: 0;
  padding-bottom: 0;
}

section.input-nama div.bottom input{
  margin-top: 20px;
  height: 38px;
  border-radius: 3px;
  border: 1px solid #ccc;
  outline: none;
  box-sizing: border-box;
  padding: 5px;
  padding-left: 10px;
  width: 100%;
  transition: 0.2s;
}

section.input-nama div.bottom input:focus{
  border: 2px solid #0094cc;
  padding-left: 9px;
}

section.input-nama div.aksi{
  width: 100%;
  height: 50px;
  position: relative;
}

section.input-nama div.aksi button{
  padding: 10px 20px;
  background: #0094cc;
  text-decoration: none;
  font-size: 14px;
  top: 7px;
  color: white;
  right: 10px;
  position: absolute;
  border-radius: 3px;
  transition: 0.2s;
  cursor: pointer;
  border: none;
}

section.input-nama div.aksi button:hover{
  background: #0074cc;
}

section.penutup-bg{
  background-color: black;
  opacity: 0;
  position: fixed;
  transition: 0.5s;
  width: 100%;
  height: 100%;
}

section.ucapan{
  width: 300px;
  height: 160px;
  background-color: white;
  box-shadow: 1px 3px 20px rgba(0,0,0,0.2);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 20px;border-radius: 5px;
  transform: translate(0,-300%);
  transition: 0.2s;
  opacity: 0;z-index:999;
}

section.ucapan h1{
  font-size: 20px;
  text-align: center;
  width: 100%;
  margin-top: 10px;
}

section.ucapan p{
  text-align: center;
  width: 100%;
}

section.ucapan button{
  padding: 10px 20px;
  cursor: pointer;
  background: #0094cc;
  border: none;
  border-radius: 3px;
  color: white;
  position: absolute;
  right: 20px;
  bottom: 20px;
  transition: 0.2s;
}

section.ucapan button:hover{
  background-color: #0074cc;
}

@media screen and (max-width: 500px){
  section.input-nama{
    width: 90%;
  }
}
